body {
    background-color: #B40000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.eye-0 {
    background-image: url(Mata/1.jpg);
}
.eye-1 {
    background-image: url(Mata/43.jpg);
}
.eye-2 {
    background-image: url(Mata/38.jpg);
}
.eye-3 {
    background-image: url(Mata/50.jpg);
}
.canvas {
    display: grid;
}
.grid {
    background-size: 100%;
    background-blend-mode: overlay;
}
.shape {
    background-size: inherit;
    background-blend-mode: inherit;
    background-image: inherit;
    height: 100%;
    width: 100%;
}